header {
    position: sticky;
    top: 0;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    z-index: 1;
    margin: 0 auto;
    background-color: white;
}

article {
    height: 23.438vw;
    background-size: cover;  
    background-image: url("./images/pilot.png");
    background-position: 100%;

}


h1 {
    color: black;
    font-size: 4em;
}

h2 {
    color: black;
    font-size: 2em;
}

h3 {
    color: black;
    font-size: 2em;
}

/* To target an id we use the pound symbol.  To target a class we use a period.  */
#tobe-fixed-logo{
    width: 100px;

}
#fixed-logo{
    width: 100px;
    padding-right: 50px;
}

#logo {
    height: 100px;
    width: 100px;

}

#main_logo {
    width: 200px;

}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh -120px);
}


button {
    padding: 5px;
    background-color: rgb(235, 249, 241);
    color: rgb(0, 0, 0);
    border-radius: 10px;

}

button:hover {
    cursor: pointer;
    background-color: rgb(97, 103, 99);
    color: white;
}

#products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.product-card {
    
    width: 400px;
    margin: 10px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

footer {
    position: flex;
    bottom: 0;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgb(241, 245, 242);
    
}

#results {
    width: 70%;
    height: 550px;
    background-color: rgb(234, 248, 240);
    position: relative;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    margin: 30px;
}

.main-scroll-div {
    width: 100%;
    height: 25%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    border: 2px solid rgb(216, 231, 216);
    overflow-x: auto;
    border-radius: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
}
.cover {
    position: relative;
    width: 90%;
    height: 50%;
}

.scroll-buttons {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
}

.child {
    min-width: 600px;
    height: 450px;
    margin: 1px 10px;
    cursor: pointer;
    border: 1px solid white;
    overflow: hidden;
}
img {
    width: 100px;
    height: 100px;
    overflow-clip-margin: content-box;
    overflow: clip;

}

.scroll-buttons::-webkit-scrollbar {
    width: 0;
}

.item{

    text-align: center;
    margin-right: 2px;
    border-radius: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#hours {
    width: 250px;

}



